/*
	css/style.css

	Copyright 2011 Jake Moreman <me@jakemoreman.co.uk>

	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation; either version 2 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
	MA 02110-1301, USA.
*/

/* General Elements */

body.main
{
	font: 16px Helvetica, Arial, Tahoma, sans-serif;
	background: #f1f1f1;
}

div.left, img.left { float: left; }
div.right, img.right { float: right; }
div.fclear { clear: both; }
.block { display: block; }
.inline { display: inline; }

/* END General Elements */

div#container
{
	background: #fff;
	overflow: hidden;
	margin: 40px auto;
}

body.main p
{
	margin-bottom: 5px;
	font-size: 0.8em;
}

body.main a
{
	color: #f57900;
	text-decoration: none;
	border-bottom: 2px solid #f57900; 
}

body.main a:hover
{
	font-weight: bold;
}

/* Header elements */

div#header img#logo
{
	float: left;
	margin-right: 15px;
}

div#header
{
	padding: 10px;
	z-index: 5;
	border-bottom: 3px solid #f57900;
	margin-bottom: 15px;
}

div#header h1
{
	font-size: 2.4em;
	color: #f57900;
	
}

div#header h2
{
	color: #555753;
	font-style: oblique;
	font-family: Georgia, serif;
}

/* END Header elements */

/* Menu elements */

div#menu
{
	border-right: 3px solid #f57900;
	padding: 10px;
}

div#menu ul
{
	margin-left: 10px;
	list-style-type: disc;
}

div#menu li a
{
	text-decoration: none;
	border-bottom: 0;
	color: #555753;
}

div#menu ul li ul
{
	margin-left: 20px;
	list-style-type: square;
}

/* END Menu elements */

/* Content elements */

div#main
{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

div#main h3
{
	font-size: 1.3em;
}

/* END Content elements */

/* Login elements */

div#login
{
	font-size: 0.9em;
}

div#login label, div#login input
{
	display: block;
	float: left;
	width: 150px;
	margin-bottom: 10px;
}

div#login label
{
	width: 110px;
	text-align: right;
	padding-right: 10px;
	margin-top: 2px;
}

div#login input.button { width: 75px; }

/* END Login elements */

/* Footer Elements */

div#footer
{
	margin-top: 20px;
	background: #555753;
	padding: 20px 0;
	text-align: center;
	color: #ccccce;
}

/* END Footer Elements */

/* Msgbox Elements */

div.info, div.success, div.warning, div.error, div.validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
div.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/img/info.png');
}
div.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/img/success.png');
}
div.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/img/warning.png');
}
div.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/img/error.png');
}

/* END Msgbox Elements */
